<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-bars" style="color: white;" aria-hidden="true"></i>
      </button>
      <a class="navbar-brand" href="/">English Phonetic Practice</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right icon-link">
        <li><%= link_to("<i class='fa fa-bug' aria-hidden='true'></i>".html_safe, "url") %></li>
        <li><%= link_to("<i class='fa fa-github' aria-hidden='true'></i>".html_safe, "url") %></li>
        <li><%= link_to("<i class='fa fa-info' aria-hidden='true'></i>".html_safe, about_url) %></li>
      </ul>
    </div>
  </div>
</nav>
