@import "bootstrap-sprockets";
@import "bootstrap";
body {
  padding-top: 70px;
}

#check_answer {
  border-radius: 2px;
  border-color: gray;
  width: 100%;
}

#result {
  color: red;
  font-size: 20px;
}
